# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# Environments
.env
venv/

# IDEs
.idea
.code
.vscode

# mypy
.mypy_cache/
