dist: xenial

language: python

python:
    - "3.7"

before_install:
    - pip install poetry

install:
    - poetry install

script:
    - poetry run flake8 app tests
    - poetry run mypy app tests
    - poetry run xenon app -b A
    - poetry run xenon tests -b A
    - poetry run pytest

after_script:
    - pip install codecov
    - codecov

notifications:
  email: false
